<div class="comments-wrapper">
    <div class="comments-header" style="display:none;">
        <h3>Comments</h3> <small>Comments provided via <a class="github-comments-link" href="#">github</a></small>
    </div>
    <div class="comment-count"><a href="#"></a></div>
    <div class="comments" style="display:none">
        <!-- comments are dynamically added here -->
        <a class="add-comment-link" href="#"><button type="submit" class="comment-button">Add a Comment</button></a>
    </div>
</div>