@import "compass/css3/images";

div#talaria-comment-placeholder {
    display: none;
}

div.talaria-wrapper {
    div {
        margin: 0;
    }
    div.talaria-load-error {
        background-color: #E8E8EE;
        padding: 0.5rem;
    }
    div.talaria-comment-count {
        text-align: right;
    }
    div.talaria-header {
        h3 {
            margin: 0;
            small { font-size: 0.7rem; }
        }
    }
    div.hide {
        display: none;
    }
    div.talaria-wrapper {
        padding: 1em;
    }
    div.talaria-comment-list {
        margin-bottom: 0.5rem;
    }
    div.talaria-comment-bubble {
        margin-top: 1rem;
        line-height: 1.4;
        font: 13px Helvetica, arial, freesans, clean, sans-serif;
        + div.talaria-comment-bubble {
            margin-top: 0.5rem;
        }
    }
    code {
        color: #666;
        font-size: 11px;
        font-family: Consolas, "Liberation Mono", Courier, monospace;
    }
    a > img {
        text-decoration: none;
    }
    img {
        position: relative;
        float: left;
        border-radius: 3px; 
    }
    div.talaria-comment-bubble-content {
        position: relative;
        margin-left: 60px;
        padding: 3px;
        background: #eee;
        border-radius: 3px;
    }
    div.talaria-comment-body {
        padding: 0.5rem;
    }
    div.talaria-comment-bubble-content:before {
        content: "";
        display: block;
        height: 0;
        width: 0;
        border: 10px solid #EEE;
        border-width: 10px 10px 10px 0;
        border-color: rgba(238,238,238,0) #eee rgba(238,238,238,0) rgba(238,238,238,0);
        position: absolute;
        left: -10px;
        top: 15px;
    }
    div.talaria-comment-bubble-inner {
        min-height: 32px;
        border: 1px solid #CACACA;
        background-color: #fff;
        margin: 0px;
    }
    div.talaria-comment-header {
        height: 33px;
        padding: 0 10px 0 6px;
        border-bottom: 1px solid #ccc;
        background-color: #e1e1e1;
        @include background-image(linear-gradient(#f8f8f8, #e1e1e1));
        background-repeat: repeat-x;
        font-size: 12px;
    }
    div.talaria-align-right {
        text-align: right;
    }
    a.talaria-author-nick {
        max-width: 600px;
        line-height: 33px;
        font-weight: bold;
        color: #222;
        text-shadow: 1px 1px 0 rgba(255,255,255,0.7);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    span.talaria-header-right {
        float: right;
        display: inline-block;
        margin: 0;
        height: 33px;
        font-size: 11px;
        line-height: 33px;
        font-style: normal;
        color: #777;
        text-shadow: 1px 1px 0 rgba(255,255,255,0.7);
        line-height: 33px;
    }
    span.talaria-header-left {
        font-size: 11px;
        text-shadow: 1px 1px 0 rgba(255,255,255,0.7);
    }
    a.talaria-add-comment-button > button {
        position: relative;
        display: inline-block;
        padding: 7px 12px;
        font-size: 13px;
        font-weight: bold;
        color: #333;
        text-shadow: 0 1px 0 rgba(255,255,255,0.9);
        white-space: nowrap;
        background-color: #eeeeee;
        @include background-image(linear-gradient(#fcfcfc, #eee));
        background-repeat: repeat-x;
        border-radius: 3px;
        border: 1px solid #d5d5d5;
        vertical-align: middle;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-appearance: none;
    }
}